body {
    /* background-color: lightblue; */
    background-image: url('/img/space_bg.jpg');
    background-size: 100% auto;


}

#carousel_main {
    position: fixed;
    left: 65vh;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-caption {
    position: absolute !important;
    bottom: -100px;


}

h5 {
    color: lightgrey;
    text-shadow: 2px 2px black;

}