body {
    background-color: lightblue;
}

#carousel_main {
    position: fixed;
    left: 65vh;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-caption {
    position: absolute !important;
    bottom: -100px;
    color: black;


}